
@{
    ViewBag.Title = "Add";
}

<h2>Добавление задания</h2>

<form method="post" class="form-group" action="AddTodo">
    <div class="form-group">
        <label for="TaskName">Наименование задания</label>
        <input type="text" class="form-control" id="TaskName" name="TaskName">
    </div>

    <div class="form-group">

        <label for="Desc">Описание</label>
        <input type="text" class="form-control" id="Desc" name="Description">
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>


