@{
    ViewBag.Title = "View";
}

<h2>Список дел</h2>



<div class="container p-0 mt-3">
    <ul class="list-group">
        @foreach (var todo in ViewBag.Tasks)
            {
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">@todo.TaskName</h5>
                    <small>@todo.DateCreated</small>
                </div>
                <p class="mb-1">@todo.Description</p>
            </li>
        }

    </ul>

    <a href="/Task/Add" class="btn btn-primary mt-3">Добавить задание</a>
</div>
