
@{
    ViewBag.Title = "Success";
}

<div class="alert alert-success" role="alert">
    Задание успешно добавлено!
</div>

<a class="btn btn-primary" href="@Url.Action("Index", "Task")" role="button">Вернуться</a>

